<h1>Pirates & Their Ships !</h1>

<form action="/pirates" method="POST">

  <p>Name: <input type="text" name="pirate[name]"></p>
  <p>Weight: <input type="text" name="pirate[weight]"></p>
  <p>Height: <input type="text" name="pirate[height]"></p>
  <p>Away Ship Name: <input type="text" id="ship_name_1" name="pirate[ships][][name]"></p>
  <p>Away Ship Type: <input type="text" id="ship_type_1" name="pirate[ships][][type]"></p>
  <p>Away Ship Booty: <input type="text" id="ship_booty_1" name="pirate[ships][][booty]"></p>
  <p>Home Ship Name: <input type="text" id="ship_name_2" name="pirate[ships][][name]"></p>
  <p>Home Ship Type: <input type="text" id="ship_type_2" name="pirate[ships][][type]"></p>
  <p>Home Ship Booty: <input type="text" id="ship_booty_2" name="pirate[ships][][booty]"></p>
  <input type="submit" id="Submit" name="submit">

</form>
